{% extends "base_templates/base_template.html" %}
{% load static %}

{% block js_link%}
    <script src="{% static 'stock_management_ui/manage_table_base_template.js' %}"></script>
{% endblock %}

<!--Hides the HTML form if not needed-->
{% block body_attributes %}
    {% if not info.row_editing_data %}
        onload="hide_block_add_record_form()"
    {% endif %}
{% endblock %}

{% block body %}
    {{ info.crud_error }}
    <!--Form to manage CRUD operations -->
    <form method="post" action="{% block viewname %}{% endblock %}" name="crud_form">
    {% csrf_token %}
        {% if not info.row_editing_data %}
            <button id="add_row_button" type="button" onclick="show_unblock_record_form()">Add row</button>
        {% endif%}
        <table>
            <!--Field labels-->
            <tr>
                {% for field in info.fields %}
                    <th class="field_labels"><label class="field_label">{{ field }}</label></th>
                {% endfor %}
            {% block aditionalfields %}{% endblock %}
            </tr>

        <!--Form for new record insertion-->
        <tr>
        <td>
        </td>
        <!--If the form should load blank-->
        {% if not info.row_editing_data %}
            {% for field in info.unformatted_field_names %}
                <td>
                    <input type="text" name="{{ field }}" class="add_row_form_element">
                </td>
            {% endfor %}
            <td>
                <input type="submit"  class="add_row_form_element" onclick="hide_block_add_record_form()" name="create_row" value="Save data">
            </td>
        </tr>
        {% endif %}

        <!--Displays the actual data-->
        {% block displaydata %}{% endblock %}

    </table>
    </form>
{% endblock %}
