{% extends "base_templates/base_template.html" %}
{% block body %}
    <a href="{% url 'manage_stock' %}" class="button-class">Update stock</a>
    <br>
    <a href="{% url 'manage_item_types' %}" class="button-class">View item types</a>
    <br>
    <a href="{% url 'manage_product_ingredients' %}" class="button-class">Manage product ingredients</a>
    <br>
    <a href="{% url 'manage_branches' %}" class="button-class">Manage branches</a>
    <br>
    <a href="{% url 'manage_sales' %}" class="button-class">Manage sales</a>
    <br>
    <a href="{% url 'manage_sale_products' %}" class="button-class">Manage sale products</a>
    <br>
{% endblock %}