{% extends "base_templates/manage_table_base_template.html" %}

{% block title %}
    Manage branches
{% endblock %}

{% block viewname %}
    {% url 'manage_branches' %}
{% endblock %}

<!--Displays the actual data-->
<!--(Could not include in manage_table_base_template.html as cannot put block to customise ID field name within the logic of a templating language if)-->
{% block displaydata %}
    {% if perms.stock_management_ui.view_branches %}
            {% for row in info.field_values %}
            <!--If the row is not being edited-->
            {% if row.0 != info.row_editing_data.instance.branch_id %}
                <tr>
                    {% for value in row %}
                        <td class="td">
                            {{ value }}
                        </td>
                    {% endfor %}
                    {% if perms.stock_management_ui.change_branches %}
                        <td>
                            <button type="submit" value="{{ row.0 }}" name="edit_row">Edit</button>
                        </td>
                    {% endif %}
                    {% if perms.stock_management_ui.delete_branches %}
                        <td>
                            <button type="submit" value="{{ row.0 }}" name="delete_row">Delete</button>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}

            <!--If the row is being edited-->
            {% if row.0 == info.row_editing_data.instance.branch_id %}
                {% for field in info.row_editing_data %}
                    {% if "is_deleted" not in field.value %}
                        <td>
                            <input type="text" name="{{ field.name }}" class="add_row_form_element" value="{{ field.value }}">
                        </td>
                    {% endif %}
                {% endfor %}
                <td>
                    <button type="submit"  name="submit_edit_row" value="{{ info.row_editing_data.instance.branch_id }}">Save edit</button>
                </td>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block add_record_uneditable_field_spacing %}
    <td></td>
{% endblock %}