{% extends "base_templates/base_template.html" %}
{% block body %}
    <a href="{% url 'manage_stock' %}" class="btn btn-primary mt-2 opacity-80">Update stock</a>
    <br>
    <a href="{% url 'manage_item_types' %}" class="btn btn-primary mt-2 opacity-80">View item types</a>
    <br>
    <a href="{% url 'manage_sales' %}" class="btn btn-primary mt-2 opacity-80">View sales</a>
    <br>
    <a href="{% url 'manage_sale_products' %}" class="btn btn-primary mt-2 opacity-80">View sale products</a>
    <br>
{% endblock %}